---
# Encrypt: ansible-vault encrypt deploy/ansible/secrets/staging.vault.yml
secret_key: "CHANGE_ME"
db_password: "CHANGE_ME"
cloudflare_tunnel_token: "CHANGE_ME"
cloudinary_cloud_name: ""
cloudinary_api_key: ""
cloudinary_api_secret: ""
pesapal_consumer_key: ""
pesapal_consumer_secret: ""
pesapal_callback_url: ""
pesapal_ipn_url: ""
