apiVersion: 1

deleteDatasources:
  - name: JSON API
    orgId: 1
  - name: Django API
    orgId: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false

  - name: Django API
    type: yesoreyeram-infinity-datasource
    uid: json-api
    url: http://{{ api_private_ip }}:8000
    access: proxy
    basicAuth: false
    isDefault: false
    editable: true
    jsonData:
      httpHeaderName1: "Authorization"
      allowedHosts:
        - "http://{{ api_private_ip }}:8000"
    secureJsonData:
      httpHeaderValue1: "Token $__env{GF_JSON_API_TOKEN}"
