# Exec report config (sourced by cron wrapper)
PROMETHEUS_URL=http://localhost:9090
SLACK_WEBHOOK_URL={{ monitoring_slack_webhook | default('') }}
GRAFANA_ADMIN_USER={{ grafana_admin_user | default('admin') }}
GRAFANA_ADMIN_PASSWORD={{ grafana_admin_password }}
